<div *ngIf="!showEye" class="img-container">
    <img src="../../../../assets/images/closed-eye.svg" alt="">
</div>
<div *ngIf="showEye" class="img-container">
    <img src="../../../../assets/images/opened-eye.svg" alt="">
</div>
<div class="main-container">
    <div class="login-container">
        <mat-form-field>
            <mat-label>Enter Full Name</mat-label>
            <input #boxName matInput (keyup)="onKeyName(boxName.value)">
        </mat-form-field>

        <form [formGroup]="loginFormControlChelsea" *ngIf="chelseaValdez"  class="fadeInDown"
              (ngSubmit)="onSubmitChelsea()">
            <mat-form-field formControlName="secretQuestionChelsea" >
                <mat-label>What was the name of that city in Chile?</mat-label>
                <input matInput>
                <mat-error *ngIf="!loginFormControlChelsea.controls['secretQuestionChelsea'].valid">
                    {{getErrorsChelsea('secretQuestionChelsea')}}
                </mat-error>
            </mat-form-field>
            <div class="btn-container">
                <button id="enter-btn" mat-raised-button type="submit">Enter</button>
            </div>
        </form>

        <form [formGroup]="loginFormControlAmanda" *ngIf="amandaWinkle" class="fadeInDown"
              (ngSubmit)="onSubmitAmanda()">
            <mat-form-field formControlName="secretQuestionAmanda">
                <mat-label>What do we call she?</mat-label>
                <input matInput>
                <mat-error *ngIf="!loginFormControlAmanda.controls['secretQuestionAmanda'].valid">
                    {{getErrorsAmanda('secretQuestionAmanda')}}
                </mat-error>
            </mat-form-field>
            <div class="btn-container">
                <button id="enter-btn" mat-raised-button type="submit">Enter</button>
            </div>
        </form>
        <div *ngIf="amandaWinkle" class="mat-h1 message">How are you babe?</div>
        <div *ngIf="chelseaValdez" class="mat-h1 message">It's been awhile.</div>
    </div>
</div>