<div class="typewriter-container">
    <div class="txt-container">
        <div class="mat-display-1" id="typewriter-txt">{{typewriter_display}}</div>
    </div>
</div>
<div class="main-container">
    <div class="poetry-banner">
        <div class="mat-display-1" id="poetry-banner-title">
           FEATURED POEMS <span><img class="title-img rubberBand" src="../../../assets/images/poetry_scroll.svg.svg"></span>
        </div>
    </div>
    <div class="flex-grid">
        <div class="poem-col">
            <div class="poem-card">
                <div class="poem-title mat-h1">
                    <a class="poem-link">
                        Love and Entanglement
                    </a>
                </div>
                <div class="poem-preview">
                    <p class="poem-preview-txt">
                        I am here at one point, affected by you,
                        wherever you are

                        the great distance separating us,
                        the memories, in a more quiet place --
                        it has been a few summers
                    </p>

                    <p class="poem-preview-txt">
                        & still I wonder when you hear my name
                        or stumble upon a picture,
                        are you brought to action: a thought,
                        a movement closer to me?

                        somehow I still love you, somehow,
                        there is still a pain linking us...
                    </p>
                </div>
                <a class="read-more" href="">Read More</a>
            </div>
        </div>
        <div class="poem-col">
            <div class="poem-card">
                <div class="poem-title mat-h1">
                    <a class="poem-link" href="">
                        A Child's Belief
                    </a>
                </div>
                <div class="poem-preview">
                    <p class="poem-preview-txt">
                        I am here at one point, affected by you,
                        wherever you are

                        the great distance separating us,
                        the memories, in a more quiet place --
                        it has been a few summers
                    </p>

                    <p class="poem-preview-txt">
                        & still I wonder when you hear my name
                        or stumble upon a picture,
                        are you brought to action: a thought,
                        a movement closer to me?

                        somehow I still love you, somehow,
                        there is still a pain linking us...
                    </p>
                </div>
                <a class="read-more" href="">Read More</a>
            </div>
        </div>
        <div class="poem-col">
            <div class="poem-card">
                <div class="poem-title mat-h1">
                    <a class="poem-link" href="">
                        Because I Love You
                    </a>
                </div>
                <div class="poem-preview">
                    <p class="poem-preview-txt">
                        I am here at one point, affected by you,
                        wherever you are

                        the great distance separating us,
                        the memories, in a more quiet place --
                        it has been a few summers
                    </p>

                    <p class="poem-preview-txt">
                        & still I wonder when you hear my name
                        or stumble upon a picture,
                        are you brought to action: a thought,
                        a movement closer to me?

                        somehow I still love you, somehow,
                        there is still a pain linking us...
                    </p>
                </div>
                <a class="read-more" href="">Read More</a>
            </div>
        </div>
    </div>
    <div class="btn-container">
        <button mat-raised-button id="browse-btn" routerLink="/poetry-list-page">Browse All Poems</button>
    </div>
    <div class="poetry-banner" id="about-me">
        <div class="mat-display-1" id="poetry-banner-title">
            ABOUT ME <span><img class="title-img" src="../../../assets/images/open_book.svg"></span>
        </div>
    </div>
    <div class="flex-grid">
        <div class="poem-col">
            <img src="../../../assets/images/abstract_painting.jpg" alt="">
        </div>
        <div class="poem-col">
            <p class="poem-preview poem-preview-txt">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                deserunt mollit anim id est laborum
            </p>
        </div>
    </div>
</div>