<div class="main-container">
    <div id="back-btn">
        <a routerLink="/poetry-list-page">
            <span class="material-icons">arrow_back_ios</span>
            <span>View other poems</span>
        </a>
    </div>
    <div class="poem-container" *ngIf="secretPoem$ | async as secretPoem">
        <div class="mat-display-2" id="poem-title">
            {{secretPoem.poem_title}}
        </div>
        <div id="me">By DAVID GUERRERO</div>
        <div class="poem-txt-container">
            {{secretPoem.poem_text}}
        </div>
        <hr>
    </div>
</div>