<div class="main-container">
    <div class="poetry-banner">
        <div class="mat-display-1" id="poetry-banner-title">
            CONTACT ME <span><img class="title-img slideInDown" style="margin-bottom: -25px;"
                    src="../../../assets/images/letter.svg"></span>
        </div>
    </div>
    <div id="thank-you-container">
        <div class="mat-h1 thank-you-txt">
          {{typewriter_display}}
        </div>
    </div>
    <div *ngIf="!loggedIn" class="form-container">
        <form class="contact-form">
            <mat-form-field class="form-field">
                <input matInput placeholder="Name">
            </mat-form-field>

            <mat-form-field class="form-field">
                <input matInput placeholder="Email">
            </mat-form-field>

            <mat-form-field class="form-field">
                <mat-label>Leave a comment</mat-label>
                <textarea matInput rows="3" placeholder="I wanted to say..."></textarea>
            </mat-form-field>
            <div id="submit-btn-wrapper">
                <button mat-raised-button>Send</button>
            </div>
        </form>
    </div>
</div>