.admin-form__container {
    opacity: 0;
    width: 40%;
    min-width: 500px;
    padding: 2.5rem;
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: rgba(250, 244, 244, 0.918);
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    animation: fade-in .4s ease-in forwards;
}

.admin-form__header {
    color: #131212;
    font-weight: 700;
    letter-spacing: 2px;
    margin-top: -1rem;
    margin-bottom: 0;
}

.admin-form__para {
    margin-top: .25rem;
    margin-bottom: 2rem;
    font-size: .8em;
    color: #383737;
}

.admin-form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.admin-form__field {
    width: 100%;
    padding-bottom: 2rem;
}

.admin-form__input {
    width: 100%;
}

@keyframes fade-in {
    100% {
        opacity: 1;
    }
}