.hero-one {
    position: relative;
    width: 100%;
    height: 360px;
    background-color: #1a1717;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
}

.hero-one__sample-poem {
    margin-top: -2rem;
    color: #fff;
    font-style: italic;
    text-align: center;
}

.hero-one__sample-poem--title {
    opacity: 0;
    cursor: pointer;
    color: #fff;
    position: absolute;
    bottom: 30%;
    text-decoration: underline;
    animation: fade-in .8s ease forwards;     
}

@keyframes fade-in {
    100% {
        opacity: 1;
    }
}

@media screen and (max-width: 960px) {
    .hero-one__sample-poem {
        width: 70%;
    }

    .hero-one__sample-poem--title {
        bottom: 20%;
    }
}

@media screen and (max-width: 640px) {
    .hero-one {
        height: 420px;
    } 
    
    .hero-one__sample-poem {
        margin-top: -4rem;
        font-size: 1.3em; 
        padding: 1rem; 
    }
    
    .hero-one__sample-poem--title {
        bottom: 20%;
        font-size: 1.2em;  
    }
}
