.hero-two {
    width: 100%;
    padding: 4rem 0;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid rgb(214, 210, 210);
    animation: fade-in .8s ease forwards;     
}

.hero-two__container {
    min-width: 600px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.hero-two__img-container {
    opacity: 0;
    overflow: hidden;
    min-width: 500px;
    display: flex;
    flex-direction: column;
    animation: fade-in-right .6s ease forwards;
}

.hero-two__img {
    border-radius: 4px;
}

.hero-two__text-container {
    opacity: 0;
    min-width: 500px;
    max-width: 550px;
    padding-left: 4rem;
    display: flex;
    flex-direction: column;
    animation: slide-in-up .7s ease forwards;
}

.hero-two__header {
    opacity: 0;
    font-weight: 700;
    animation: slide-in-down .8s ease forwards;
}

.hero-two__text--content {
    line-height: 1.7;
}

.painting-name {
    font-style: italic;
    font-weight: 600;
    margin-right: 2px;
}

.painting-credit {
    font-size: .8em;
}

@keyframes slide-in-up {
    0% {
        transform: translateY(45px);
    }

    100% { opacity: 1; }
}

@keyframes slide-in-down {
    0% {
        transform: translateY(-45px);
    }

    100% { opacity: 1; }
}

@media screen and (max-width: 1070px) {
    .hero-two__container {
        flex-direction: column;
        justify-content: center;
    }

    .hero-two__text-container {
        padding-left: 0;
    }    
}

@keyframes fade-in-right {
    0% {
        transform: translateX(45px);
    }

    100% { opacity: 1; }
}
