.img-container {
    display: flex;
    justify-content: center;
    margin-top: 2%;
}

img {
    height: 125px;
    width: 125px;
}

.main-container {
    display: flex;
    justify-content: center;
}

.login-container {
    margin: 2% 0;
    width: 50%;
    border-radius: 3px;
}

mat-form-field {
    width: 100%;
}

.btn-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

#enter-btn {
    margin: 25px 0;
    width: 200px;
    font-weight: bold;
    background: rgb(179, 17, 22);
    color: white;
}

.message {
    font-family: 'Noto Serif', serif;
    text-align: center;
}

small {
  letter-spacing: 1px;
  color: rgb(37, 36, 36);
}

.transition-screen {
  height: 100vh;
  background: black;
  transition: background-color .1s linear;
  display: flex;
  justify-content: center;
  align-items: center;
}

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 100%);
    transform: translate3d(0, 0, 100%);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 0, 100%);
    transform: translate3d(0, 0, 100%);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

.fadeIn {
  animation: fadeIn ease 1s;
  -webkit-animation: fadeIn ease 1s;
  -moz-animation: fadeIn ease 1s;
  -o-animation: fadeIn ease 1s;
  -ms-animation: fadeIn ease 1s;
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}