.poem-list__item {
    cursor: pointer;
    opacity: 0;
    width: 100%;
    padding: 1.5rem 2rem;
    border-bottom: 1px solid #dfdfdf;;
    display: flex;
    flex-direction: column;
    animation: fade-in .8s ease forwards;
    transition: background-color .3s ease-in-out;
}

.poem-list__item:hover {
    background-color: rgb(243, 243, 243);
}

.poem-list__item--title {
    cursor: pointer;
    font-size: 1.3em;
    transition: color .3s ease-in-out;
    margin-bottom: .5rem;
    color: #131212;
}

.poem-list__item--row {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.poem-list__item--content {
    line-height: 1.5;
    color: #383737;;
}

.poem-list__item--title:hover {
    color: #e91c23;
}

.poem-list__item--action-row {
    width: 100%;
    margin: 1.5rem;
    padding-right: 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

@keyframes fade-in {
    100% {
        opacity: 1;
    }
}

@media screen and (max-width: 360px) {
    .poem-list__item {
        padding: 1.5rem 2.5rem;
    }

    .poem-list__item--title {
        font-size: 1.1em;
    }
    
    .poem-list__item--content {
        font-size: .9em;
    }
}
