.main-container {
  margin: 2% 8%;
  border-left: 2px solid whitesmoke;
  border-right: 2px solid whitesmoke;
}

#back-btn {
    padding: 35px;
    padding-left: 25px;
}

a {
    font-style: italic;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-family: "Noto Serif", serif;
    letter-spacing: 2px;
    color: rgb(179, 17, 22);
    font-size: 15px;
}

#poem-title {
  margin: 0;
  font-weight: bold;
}

#me {
  padding-top: 5px;
  font-size: 15px;
}

.poem-container {
  margin: 2% 10%;
}

.poem-txt-container {
  margin-top: 3%;
  font-size: 16px;
  font-family: "Noto Serif", serif;
  line-height: 170%;
}

.material-icons {
    font-size: 14px !important;
    margin-right: 5px;
}

.social-media {
  margin-top: 25px;
  display: flex;
  justify-content: flex-end;
}

.twitter-icon {
  height: 25px;
  width: 25px;
}

hr {
  margin-top: 35px;
}