html,
body {
  background-color: rgb(251, 250, 250);
  padding: 0;
  margin: 0;
  font-family: 'Playfair Display', serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
